body{

    font-family:'Poppins', sans-serif ;
}
h1{
    font-size: 50px;
}
.paste-color{
color: #49C4B2;
}
section{
    display:flex;
}
.hi-margin{
    margin-top: 30px;
    margin-bottom: 0px;
}
.i-margin{
    margin-top: 0px;
    margin-bottom: 0px;
}
.graphic-margin{
    margin-top: 0px;
    margin-bottom: 0px;

}
.experience-margin{
    margin-top: 30px;
}
.half-width{

width: 50%;
padding-left:10%;
}
.half-width img{
    width: 78%;
}
.contact-button{
    text-decoration: none;
    background-image: linear-gradient(#49C4B2,#3fb8a6);
    color: white;
    font-weight: 500;
    padding: 10px 35px;
    border-radius: 5px; 
    line-height: 90px;
}
.introduction{
    text-align: center;
    padding-left:43%;
    margin-top: 0px;
    line-height: 45px;
}
.introduction2{
    margin-bottom: 0px;
}
.introduction3{
   margin-top: 0px;
}
.download-button{
    text-decoration: none;
    background-image: linear-gradient(#49C4B2,#3fb8a6);
    color: white;
    font-weight: 500;
    padding: 10px 35px;
    border-radius: 5px; 
    line-height: 120px;
}
.half-width2{

    width: 50%;
    padding-right:10%;
    padding-left:10%;
    text-align: justify;
    line-height: 25px;
    padding-bottom:20px;
    
    }
    .half-width2 img{
        width: 100%;
        padding-bottom:50px;
    }
    .skill1{
        text-align: center;
        padding-left:45%;
        line-height: 45px;
    }
    .skill2{
        margin-bottom: 0px;
    }
    .skill3{
       margin-top: 0px;
    }
    .half-width3{

        width: 70%;
        padding-right:20px;
        padding-left:20px;
        text-align: center;
        line-height: 25px;
        padding-bottom:20px;
     }
     progress {
        width: 350px;
        height: 20px;
        background: #49C4B2;
      }
      progress::-webkit-progress-value {
        background: #49C4B2;
      }
      .services{
        text-align: center;
        padding-left:45%;
        line-height: 45px;
    }
    .services2{
        margin-bottom: 0px;
    }
    .services3{
       margin-top: 0px;
    }