body{

    font-family:'Poppins', sans-serif ;
}
h1{
    font-size: 50px;
}
.paste-color{
color: #49C4B2;
}
section{
    display:flex;
}
.line-height{
    line-height:30px;
}

h3{
    line-height:40px;
}


.half-width{

width: 50%;
padding-left:10%;
}
.half-width img{
    width: 78%;
}
.contact-button{
    text-decoration: none;
    background-image: linear-gradient(#49C4B2,#3fb8a6);
    color: white;
    font-weight: 500;
    padding: 10px 35px;
    border-radius: 5px; 
    line-height: 90px;
}